
.info {
    padding: 30px;
    margin: 30px;
    box-shadow: 0px 2px 15px rgba(0,0,0, 0.1);
    overflow: hidden;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.text-button {
    text-decoration: blink;
}

